includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    ignoreErrors:
        - '#Call to an undefined method Laravel\\Socialite\\Contracts\\Provider::stateless\(\)#'

    paths:
        - app/


    level: 5
